.App {
    width: 100vw;
    font-size: 16px;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: #e7e7e9;
    transition: background-color 0.5s ease-in-out;
    min-height: 100vh;

    @media screen and (max-width: 768px) {
        display: block;
        grid-template-columns: none;
        background-color: #fafefd;
        transition: background-color 0.5s ease-in-out;
    }
}
