$amarelo-padrao: #fbff40b3;

$azul-alerta-pagCadastro: #cff4fccc;
$azul-alerta-borda-pagCadastro: #b6effb;
$azul-escuro-fosco: #0a0a84;
$azul-medio-brilhante: #1212e0;

$branco: #ffffff;
$branco-bg: #fafefd;

$cinza-claro: #e7e7e9;
$cinza-medio: #c4c4c4;
$cinza-escuro: #787887;

$letra-alerta-pagCadastro: #055160;

$vermelho-padrao: #f47c57;
$verde-padrao: #6de195;
